* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

body {
    background-color: pink;
    background-image: url(../imagenes/Fondo_Mapster.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
   }

main {
    margin-top: 70px;
    min-height: 100vh;
}

.header {
    background-color: pink;
    color: white;
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.nav__lista {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

}

.nav__item {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    margin-left: 16px;
    justify-content: center;

}

.nav__item--oculto {
    display: none;

}

.header__icono {
    font-size: 32px;
    color: darkgoldenrod;
    text-decoration: none;
    display: none;


}

.titulo {
    color: darkgoldenrod;
}

.inicio1__titulo {
    text-align: center;
    font-size: 35px;
    margin: 50px;
}

.inicio1__parrafo {
    margin-top: 16px;
    text-align: center;

}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center;
    font-size: 24px;
}


.inicio1 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    
}

.flexbox {
    display: flex;
}

.gridimg__ppal {
    border-radius: 10px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}

.gridimg__ppal--ig {
    border-radius: 10px;
    margin-bottom: 16px;
    

}


.fila {
    display: flex;

}
.columna {
   flex: auto;
   padding: 5px;
     
   
}

footer {
    background-color: pink;
    
    
        
}

.footer__fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    

}
.footer__columna {
    
    flex: auto;
    padding: 24px;
    align-items: center;
    position: relative;
        
   
}


.texto {
    
    position: absolute;
    left: 44%;
    bottom: 0%;
    align-items: center;
    justify-items: center;
    
    
 }

.logo {
    position: relative;
    display: flex;
}

 .mapster {
    
    position: absolute;
    right: 0%;
    bottom: 0%;
    justify-content: end;
    align-content: flex-end;


 }
 
 .inicio2__parrafo {
    text-align: center;

 }

 .imagen__producto {
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 10px;

 }

 .imagen__producto2 {
    margin-top: 2%;
    margin-left: 15%;
    border-radius: 10px;

 }

 .imagen__producto3 {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 8%;
    border-radius: 10px;

 }

 .texto_form {
    margin-left: 25%;
    margin-bottom: 5%;

 }

 .texto__posicion {
    text-align: center;
    margin-bottom: 1%;
 }

 .texto__posicion2 {
    margin-top: 1%;
    
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-items: center;

 }

 .gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));

 }

 .featured {
    grid-column: span 2;

 }

 .seccion {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;

 }

 .grid {
    border: 3px solid lightgray;
    padding: 1rem;
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img1 img2 img3" 
    "img4 img4 img5";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
    

 }

 .grid2 {
    border: 3px solid lightgray;
    padding: 1rem;
    height: 2000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img1 img2" 
    "img3 img4";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
    

 }

 .grid__hijo {
    border-radius: 10px;
    

 }

 .grid__hijo--1 {
    grid-area: img1;
    
    
 }
 
 .grid__hijo--2 {
    grid-area: img2;

}

.grid__hijo--3 {
    grid-area: img3;

}

.grid__hijo--4 {
    grid-area: img4;

}

.grid__hijo--5 {
    grid-area: img5;

}





/* Tablet */
@media screen and (max-width:1023px){
    .inicio1__titulo {
        text-align: center;
        
    }

    .grid {
        display: none;

    }
}

/* Movil */
@media screen and (max-width:599px){
    .inicio1__titulo {
        text-align: left;
        font-size: 25px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 200px);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        align-items: stretch;
        height: auto;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 20rem);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4";
        gap: 20px;
        align-items: stretch;
        justify-content: center;
        height: auto;
    }

    .gridimg__ppal--ig {
        border-radius: 10px;
        margin-bottom: 16px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    
    }

    .header__icono {
        display: block;
    }

    .nav {
        display: none;
        background-color: pink;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        width: 80%;
        height: 100vh;
    }

    .nav:target {
        display: block;
        
    }

    .nav__lista {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        height: 100%;
    }

    .nav__item--oculto {
        display: block;
    
    }
    
    .texto {
        display: none;
    }

}

