@import "./parciales/_variables.scss";
@import "./parciales/_base.scss";
@import "./parciales/_header.scss";
@import "./parciales/_footer.scss";
@import "./parciales/_inicio.scss";
@import "./parciales/_media-queries.scss";
