@import "./parciales/_base.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

body {
    background-color: pink;
    background-image: url(../imagenes/Fondo_Mapster.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
   }

main {
    margin-top: 200px;
    min-height: 100vh;
}