.inicio2__parrafo {
    text-align: center;

 }

 .imagen__producto {
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 10px;

 }

 .imagen__producto2 {
    margin-top: 2%;
    margin-left: 15%;
    border-radius: 10px;

 }

 .imagen__producto3 {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 8%;
    border-radius: 10px;

 }

 .texto_form {
    margin-left: 25%;
    margin-bottom: 5%;

 }

 .texto__posicion {
    text-align: center;
    margin-bottom: 1%;
 }

 .texto__posicion2 {
    margin-top: 1%;
    
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-items: center;

 }

 .gallery {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));

 }

 .featured {
    grid-column: span 2;

 }

 .seccion {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;

 }

 .grid {
    border: 3px solid lightgray;
    padding: 1rem;
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img1 img2 img3" 
    "img4 img4 img5";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
    

 }

 .grid2 {
    border: 3px solid lightgray;
    padding: 1rem;
    height: 2000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img1 img2" 
    "img3 img4";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
    

 }

 .grid__hijo {
    border-radius: 10px;
    

 }

 .grid__hijo--1 {
    grid-area: img1;
    
    
 }
 
 .grid__hijo--2 {
    grid-area: img2;

}

.grid__hijo--3 {
    grid-area: img3;

}

.grid__hijo--4 {
    grid-area: img4;

}

.grid__hijo--5 {
    grid-area: img5;

}
